





<!-- Three -->
<section id="three" class="main special">
  <div class="container">
    <span class="image fit primary"><img src="images/pic03.jpg" alt="" /></span>
    <div class="content">
      <header class="major">
        <h1>RSVP Below</h1>
      </header>





<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder=>"Your Name"  %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :placeholder=>"Your Email" %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>

   <div class="field">
     <%= f.label :Message %><br>
     <%= f.text_area :Message, cols:"20", rows:"10", :placeholder=>"Please list is the event and the names of the expected guests" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

      <%= link_to 'Back', users_path %>

    </div>
    <a href="#footer" class="goto-next scrolly">Next</a>
  </div>
</section>