





<!-- Three -->
<section id="three" class="main special">
  <div class="container">

    <div class="content">
      <header class="major">
        <h1>RSVP Below</h1>
      </header>




<br><br>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :align=>"left" %>
    <%= f.text_field :name, :placeholder=>"Your Name"  %>
  </div><br>
  <div class="field">
    <%= f.label :email, :align=>"left" %>
    <%= f.text_field :email, :placeholder=>"Your Email" %>
  </div><br>


   <div class="field">
     <%= f.label :Message, :align=>"left" %>
     <%= f.text_area :Message, cols:"20", rows:"10", :placeholder=>"Please list is the event and the names of the expected guests" %>
  </div><br>

  <div class="actions">
    <%= f.submit :value=>"RSVP Now" %>
  </div>

<% end %>


      <br>
    <b>Go</b> <%= link_to 'Home', home_path %>

    </div>

  </div>
</section>