
<!DOCTYPE HTML>
<html>
<head>


  <title>Shells</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>



<%= yield %>

<<<<<<< HEAD
=======
    <div class="content">
      <header class="major">
        <h2>Who I am</h2>


      </header>
      <p>Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.</p>



      <%= yield %>




    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </div>
</section>

<!-- Two -->
<section id="two" class="main special">
  <div class="container">
    <span class="image fit primary"><img src="https://shell-wedding.s3.amazonaws.com/pic02.jpg" alt="" /></span>
    <div class="content">
      <header class="major">
        <h2>Stuff I do</h2>
      </header>
      <p>Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet vulputate.</p>
      <ul class="icons-grid">
        <li>
          <span class="icon major fa-camera-retro"></span>
          <h3>Magna Etiam</h3>
        </li>
        <li>
          <span class="icon major fa-pencil"></span>
          <h3>Lorem Ipsum</h3>
        </li>
        <li>
          <span class="icon major fa-code"></span>
          <h3>Nulla Tempus</h3>
        </li>
        <li>
          <span class="icon major fa-coffee"></span>
          <h3>Sed Feugiat</h3>
        </li>
      </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
  </div>
</section>

<!-- Three -->
<section id="three" class="main special">
  <div class="container">
    <span class="image fit primary"><img src="https://shell-wedding.s3.amazonaws.com/pic03.jpg" alt="" /></span>
    <img src="https://shell-wedding.s3.amazonaws.com/downtown.png" width="260" height="214"/>


    <div class="content">
      <header class="major">
        <h2>One more thing</h2>
      </header>
      <p>Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.</p>
    </div>
    <a href="#footer" class="goto-next scrolly">Next</a>
  </div>
</section>
>>>>>>> removingNumbers

<!-- Footer -->
<section id="footer">

  <footer>
    <ul class="icons">
      <li><a href="https://www.facebook.com/groups/452938444894094/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://instagram.com/michellejohnswedding/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="/home" class="icon alt fa-envelope"><span class="label">Home</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; LAUREN</li>
      <li>Design: <a href="www.lauren.mn">Lauren.mn</a></li>
      <li><%=link_to("Sign In", new_admin_person_path )%></li>



    </ul>


    <% if user_signed_in? %>
        Welcome, <%= current_user.full_name %> <br/>
        hahah
        hahah
    <%end%>




  </footer>
</section>

<<<<<<< HEAD
=======

&lt;!&ndash; Scripts &ndash;&gt;
<script src="assets/jquery.min.js"></script>
<script src="assets/jquery.scrollex.min.js"></script>
<script src="assets/jquery.scrolly.min.js"></script>
<script src="assets/skel.min.js"></script>
<script src="assets/util.js"></script>
&lt;!&ndash;[if lte IE 8]><script src="assets/ie/respond.min.js"></script>

<![endif]&ndash;&gt;
<script src="assets/main.js"></script>


>>>>>>> removingNumbers
</body>
</html>
